.button {
  margin: 0 10px 0 10px;
  background-color: #7086e6;
  border: 3.5px solid #7e90e1;
  color: rgb(10, 9, 9);
  padding: 20px;
  height: 7rem;
  width: 7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50%;
  margin-bottom: 0.2rem;
  cursor: pointer;
  transition: all 0.4s;
}

.button:hover {
  font-style: bold;
  border-style: dashed;
  background-color: #ddaa98;
}
